:root {
	--background-circle11: radial-gradient(
			circle at 50% 100%,
			#67828180 5%,
			#678281 5% 10%,
			#67828180 10% 15%,
			#678281 15% 20%,
			#67828180 20% 25%,
			#678281 25% 30%,
			#67828180 30% 35%,
			#678281 35% 40%,
			transparent 40%
		),
		radial-gradient(
			circle at 100% 50%,
			#67828180 5%,
			#678281 5% 10%,
			#67828180 10% 15%,
			#678281 15% 20%,
			#67828180 20% 25%,
			#678281 25% 30%,
			#67828180 30% 35%,
			#678281 35% 40%,
			transparent 40%
		),
		radial-gradient(
			circle at 50% 0%,
			#67828180 5%,
			#678281 5% 10%,
			#67828180 10% 15%,
			#678281 15% 20%,
			#67828180 20% 25%,
			#678281 25% 30%,
			#67828180 30% 35%,
			#678281 35% 40%,
			transparent 40%
		),
		radial-gradient(
			circle at 0 50%,
			#67828180 5%,
			#678281 5% 10%,
			#67828180 10% 15%,
			#678281 15% 20%,
			#67828180 20% 25%,
			#678281 25% 30%,
			#67828180 30% 35%,
			#678281 35% 40%,
			transparent 40%
		);
		background-size: 2em 2em;
    	background-color: #000000;
    	opacity:1;
}
