:root{
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-link: #000000ca;
    --color-link-visited: gray;
    --color-link-hover: black;
    --color-link-active: blueviolet;
    --liear-gradient: 90deg, whitesmoke 10%,burlywood 20%, whitesmoke 99%;
    --box-shadow: 2px 2px 10px 1px black;
}
body{
    font-family: var(--font-family);
    letter-spacing: .75px;
    background-color: lightgrey;
    min-width: 300px;
}
a{
    text-decoration: none;
}
a:link{
    color: var(--color-link);
}
a:visited{
    color: var(--color-link-visited);
}
a:hover{
    color: var(--color-link-hover);
}
a:active{
    color: var(--color-link-active);
}
section{
    padding: 20px;
    margin: 20px;
    background: linear-gradient(var(--liear-gradient));
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    transition: transform 0.2s ease;
}
section:hover{
    transform: scale(1.02);
}