* {
	margin: 0;
	box-sizing: border-box;
}
:root {
	min-width: 330px;
}
body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	min-height:100dvh;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5;
}
h3 {
	font-size: 1.2rem;
}
section {
	margin-top: 10%;
}
article {
	margin-top: 10%;
}
header {
	width: 100%;
	color:white;
	text-align: center;
	border-bottom: 4px solid red;
	background-color: black;
}
