<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="media-query.css">
    <title>Float | layout</title>
</head>
<body>
    <div class="layout">
        
        <header>
            <h1>Ciudades</h1>
        </header>
        <main>
            <section class="main__aside">
                <aside>
                    <ul>
                        <li>
                            <a href="#londres">Londres</a>
                        </li>
                        <li>
                            <a href="#paris">Paris</a>
                        </li>
                        <li>
                            <a href="#tokio">Tokio</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section>
                <article id="londres">
                    <h2>Londres</h2>
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/London_Skyline_%28125508655%29.jpeg/330px-London_Skyline_%28125508655%29.jpeg" alt="Vista aerea de Londres al atardecer">
                        <figcaption>Londres y el río Támesis</figcaption>
                    </figure>
                    <p class="article__paragraph">
                        Es la capital y mayor ciudad de Inglaterra y de Reino Unido. Ubicada a orillas del río Támesis, Londres ha sido un importante asentamiento humano desde que fue fundada por los romanos con el nombre de Londinium hace casi dos milenios. El núcleo antiguo de la urbe, la City de Londres, conserva básicamente su perímetro medieval de una milla cuadrada. Desde el siglo XIX el nombre «Londres» también hace referencia a toda la metrópolis desarrollada alrededor de este núcleo. El grueso de esta conurbación constituye la región de Londres y el área administrativa del Gran Londres, gobernado por el alcalde y la asamblea de Londres.
                    </p>
                    <p class="article__paragraph">
                        Londres es una ciudad global, uno de los centros neurálgicos en el ámbito de las artes, el comercio, la educación, el entretenimiento, la moda, las finanzas, los medios de comunicación, la investigación, el turismo o el transporte. Es el principal centro financiero del mundo junto con Nueva York. Con un PIB de 801 660 millones de euros en 2017, es la economía urbana más grande de Europa.
                    </p>
                    <p class="article__paragraph">
                        En esta ciudad convive gente de un gran número de culturas que hablan más de trescientos idiomas distintos. La Autoridad del Gran Londres estima que en 2015 la ciudad tiene 8.63 millones de habitantes, que supone el 12.5 % del total de habitantes de Reino Unido. El área urbana del Gran Londres, con 10.47 millones de habitantes, es la segunda más grande de Europa, pero su área metropolitana, con una población estimada de entre doce y catorce millones, es la mayor del continente. Desde 1831 a 1925 Londres, como capital del Imperio británico, fue la ciudad más poblada del mundo.
                    </p>
                    <p class="article__link">
                        <a href="https://es.wikipedia.org/wiki/Londres" target="_blank">Wikipedia - Londres</a>
                    </p>
                </article>
                <article id="paris">
                    <h2>Paris</h2>
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29_%28cropped%29.jpg/800px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29_%28cropped%29.jpg" alt="Vista aerea de la Torre Eiffel">
                        <figcaption>La Tour Eiffel</figcaption>
                    </figure>
                    <p class="article__paragraph">
                        Es la capital de Francia y de la región de Isla de Francia. Es la ciudad más poblada del país y el único departamento unicomunal de Francia. Su área metropolitana es la más grande en población de toda la Unión Europea.
                    </p>
                    <p class="article__paragraph">
                        Está situada en el centro de la cuenca de París, en un bucle del río Sena, entre las confluencias del Marne y del Oise. Fue ocupada desde el siglo III a. C. por el pueblo galo de los Parisii, en el sitio original de Lutecia, del cual toma el nombre de París alrededor del año 310, para irse extendiendo en su área circundante. Capital del reino de los francos durante el reinado de Clodoveo I, París se convirtió en una de las principales ciudades de Francia durante el siglo X, con palacios reales, ricas abadías y una catedral.
                    </p>
                    <p class="article__paragraph">
                        Durante el siglo XII, con la Universidad de París, la ciudad se convirtió en uno de los primeros centros de Europa para la educación y las artes. Fijado el poder real en esta ciudad, su importancia económica y política no dejó de crecer. Así, a principios del siglo XIV, París era una de las ciudades más importantes del mundo cristiano. Desde el siglo XVI, fue la metrópolis del imperio colonial francés hasta el siglo XX.
                    </p>
                    <p class="article__paragraph">
                        En los siglos XVII y XVIII fue la capital de la principal potencia de occidente. En el siglo XIX, fue la capital primero del Imperio Napoleónico y luego de las artes y los placeres. En los siglos XX y XXI, es una de las principales ciudades de la Unión Europea. Desde la Edad Media, París ha sido un centro destacado de cultura, economía y política, lo que la ha convertido en una ciudad influyente.
                    </p>
                    <p class="article__link">
                        <a href="https://es.wikipedia.org/wiki/paris" target="_blank">Wikipedia - Paris</a>
                    </p>
                </article>
                <article id="tokio">
                    <h2>Tokyo</h2>
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Buildings_with_colorful_neon_street_signs_at_blue_hour%2C_Shinjuku%2C_Tokyo.jpg/1024px-Buildings_with_colorful_neon_street_signs_at_blue_hour%2C_Shinjuku%2C_Tokyo.jpg" alt="Centro de Tokio de noche">
                        <figcaption>El centro de Tokio</figcaption>
                    </figure>
                    <p class="article__paragraph">
                        Es la capital de facto de Japón, ubicada en el centro este de la isla de Honshu, concretamente en la región de Kantō. Es la ciudad más poblada del mundo, en conjunto es una de las 47 prefecturas de Japón. Es el centro de la política, economía, educación, comunicación y cultura del país. Cuenta también con la mayor concentración de sedes corporativas, instituciones financieras, universidades y colegios, museos, teatros, establecimientos comerciales y de entretenimiento de todo Japón.
                    </p class="article__paragraph">
                    <p class="article__paragraph">
                        Con una población de unos 40 millones de habitantes, se subdivide en 23 barrios (区 -ku); 26 ciudades (市 -shi); un distrito (郡 -gun) subdividido en tres pueblos (町 -chō o -machi) y una villa (村 -son o -mura); y cuatro subprefecturas (支庁 -shichō) subdivididas en dos pueblos y siete villas, que representan a varias pequeñas islas al sur de Honshu que se extienden más allá de 1800 km de Shinjuku, capital de la metrópoli y sede de la gobernación. El centro de Tokio, con sus 23 barrios, ocupa un tercio de la metrópoli, con una población cercana a los 13,23 millones de habitantes; esta área es lo que se conoce internacionalmente como la ciudad de Tokio. En su área metropolitana viven más de 40 millones de habitantes, lo que la convierte en la mayor aglomeración urbana del mundo. En 2015 y 2019 fue elegida como la ciudad más segura del mundo por el periódico The Economist.
                    </p>
                    <p class="article__paragraph">
                        A pesar de que Tokyo es la romanización más común del nombre en japonés, el nombre de la ciudad es Tokio en español y otros idiomas —entre ellos el alemán y el neerlandés—. En inglés y otros idiomas se escribe Tokyo, aunque antiguamente también se escribía Tokio. En el pasado, la ciudad se denominaba como Tokei, Edo o Yedo. El gentilicio de Tokio es tokiota.
                    </p>
                    <p class="article__link">
                        <a href="https://es.wikipedia.org/wiki/Tokio" target="_blank">Wikipedia - Tokio</a>
                    </p>
                </article>
            </section>
        </main>
        <footer>
            <p>
                Float layout - Vermar @2025
            </p>
            <p>
                <a href="https://superdesigner.co/">
                    <img width="20" src="https://superdesigner.co/logo.svg" alt="superdesigner tools">
                </a>
            </p>
        </footer>
    </div>
</body>
</html>