body{
  background-color: darkkhaki;
  font-family: arial, sans-serif;
}
.blog-post-card{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 1px 1px 10px darkslateblue;
}
.post-img{
  width:100%;
  border-bottom: 3px solid darkslategrey;
  border-radius: 10px 10px 0 0;
}
.post-content{
  padding: 10px;
}
.post-title, .post-excerpt{
  color: darkslategrey;
  margin: 20px;
}

.read-more{
  text-decoration: none;
  color:white;
  background-color: darkslategrey;
  margin: 5px;
  padding: 10px 15px;
  line-height:1.5;
  border-radius: 5px;
  display: inline-block;
}
.read-more:hover{
  background-color: black;
  color: white;
}