* {
	margin: 0;
	box-sizing: border-box;
}
:root {
	min-width: 330px;
	font-size: 14px;
}
body {
	font-family: 'Courier New', Courier, monospace;
	background: #ddd;
}
header {
	border-bottom: 4px solid red;
	background-color: black;
}
#header__logo {
	font-size: 3.5rem;
	font-weight: 900;
	letter-spacing: 0.5em;
	height: 70px;
	color: red;
	text-align: center;
}
